# Core dependencies
ollama
asyncio
flask
yt-dlp
werkzeug
aiofiles
faster-whisper
torch
torchvision
torchaudio
watchdog
ctranslate2==4.4.0
google-generativeai>=0.7.2
python-dotenv
# Optional dependencies for advanced functionality
requests
typing-extensions

# Development and testing
pytest
